.liveNews {
    display: flex;
    align-items: flex-start;
    margin-top: 24px;
}

.liveNews__left {
    width: 48%;
    padding-right: 25px;

    .liveNews__main {
        position: relative;
        border-radius: 5px;
        overflow: hidden;

        img {
            width: 100%;
            object-fit: cover;
            vertical-align: bottom;
        }
    
        .liveNews__main-title {
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: #fff;
            font-size: 25px;
        }
    }
}

.liveOthers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .liveOther__single {
        padding: 20px 0px;
        margin: 0 16px;
        display: flex;
        border-top: 1px dotted rgba(0,0,0,.3);

        &:first-child,
        &:nth-child(2) {
            border-top: none;
        }

        p {
            font-size: 13px;
        }

        .liveOther__img {
            margin-left: 4px;

            img {
                width: 80px;
                height: 45px;
                vertical-align: bottom;
                object-fit: cover;
                border-radius: 4px;
            }
        }
    }
}

.liveNews__center {
    width: 18%;
    padding: 0 25px;
    border-right: 1px dotted #a5a5a5;
    border-left: 1px dotted #a5a5a5;
}

.newsVideos {
    .newsVideos__single {
        margin-bottom: 20px;

        .newsVideos__img {
            border-radius: 4px;
            overflow: hidden;
            margin-bottom: 8px;
    
            img {
                width: 100%;
                vertical-align: bottom;
                object-fit: cover;
            }
        }
    
        p {
            font-size: 13px;
        }
    }
}

.liveNews__right {
    width: 34%;
    padding-left: 25px;
}

.newsShorts {
    padding-left: 12px;

    ul {
        li {
            padding: 8px 0;
            margin-left: 15px;
            border-bottom: 1px dotted #a5a5a5;

            span {
                font-size: 13px;
            }
        }
    }
}